<md-tab>
    <md-tab-label>
        <translate>Gaming Center</translate>
    </md-tab-label>
    <md-tab-body>
        <h1>
            <translate>SmartHoldem Platform Gaming Center</translate>
        </h1>


        <div layout="row" layout-wrap>
            <div flex="25">
                <md-card>
                    <img src="assets/images/games/poker.jpg" class="md-card-image" alt="image caption">
                    <md-card-content>

                        <p>Prototype</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button open-external="'https://smartholdem.io/games/mac.zip'">MacOS</md-button>
                        <md-button open-external="'https://smartholdem.io/games/win.zip'">Win</md-button>
                        <md-button open-external="'https://smartholdem.io/games/nix.zip'">*Nix</md-button>
                    </md-card-actions>
                </md-card>
            </div>


            <div flex="25">
                <md-card>
                    <img src="assets/images/games/battle.jpg" class="md-card-image" alt="image caption">
                    <md-card-content>
                        <p>Prototype</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button open-external="'https://smartholdem.io/games/seabattle_ai'">Play</md-button>
                        <md-button>Remove</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div flex="25">
                <md-card>
                    <img src="assets/images/games/race.jpg" class="md-card-image" alt="image caption">
                    <md-card-content>
                        <p>Prototype</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button open-external="'https://smartholdem.io/games/hrace'">Play</md-button>
                        <md-button>Remove</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div flex="25">
                <md-card>
                    <img src="assets/images/games/rock.jpg" class="md-card-image" alt="image caption">
                    <md-card-content>
                        <p>Prototype</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button open-external="'http://playrockandroll.com/'">Play</md-button>
                        <md-button>Install</md-button>
                    </md-card-actions>
                </md-card>
            </div>


        </div>


    </md-tab-body>
</md-tab>